@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald')

@import 'utility/_normalize'

// BASE
@import 'utility/_base'
@import '_media'

// GLOBAL
@import '_global'

// MAIN

html
 font-size: 62.5%


.container
 width: 100%
 max-width: 402px
 padding: 0  3.6rem
 margin: 0 auto
 position: relative

 &:after
  content: ""
  display: table
  clear: both

 +md_tablet
  max-width: 717px

 +md_desktop
  padding: 0 5rem
  max-width: 934px

h1
 font-family: 'Oswald', sans-serif